<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>

<body>
    <header>
        <img class="logo" src="/icons/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <div class="search">
            <form action=""><input type="text" placeholder="Buscar productos, marcas y algo más..."> <br></button></form>
        </div>
        <div>
            <button class="search2">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <li class="compra">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </li>
        <ul class="listado">
            <li><a href=""></a>Ofertas </li>
            <li><a href=""></a>Tiendas Oficiales </li>
            <li><a href=""></a>Vender </li>
            <li><a href=""></a>Ayuda </li>
        </ul>
        <ul class="listado">
            <li><a href=""></a>Creá tu cuenta <i class="far fa-id-card"></i></li>
            <li><a href=""></a>Ingresá <i class="fas fa-sign-in-alt"></i></li>
            <li><a href=""></a>Mis compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
        <div class="burger-menu">
            <button>
                <i class="fas fa-bars">
                </i>
            </button>
        </div>
        <div>
            <img class="banner" src="/images/img-home-banner.jpg" alt="">
        </div>
    </header>
    <main>
        <section>
            <h4>
                <ul>
                    <li class="Titular">
                        Sección: Basado en tu última visita
                    </li>
                </ul>
            </h4>
            <article>
                <div>
                    <img class="cafe" src="/images/img-cafetera-moulinex.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$6.770</li>
                    <li class="des">40% OFF</li>
                    <li class="des">Cafetera Moulinex</li>
                </ul>
            </article>
            <article>
                <div>
                    <img class="cafe" src="/images/img-macbook-pro-2019.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$230.000</li>
                    <li class="des">20% OFF</li>
                    <li class="des">MacBook Pro 2019</li>
                </ul>
            </article>
            <article>
                <div>
                    <img class="cafe" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$70.500</li>
                    <li class="des">10% OFF</li>
                    <li class="des">Samsung Galaxy S10</li>
                </ul>
            </article>
            <article>
                <div>
                    <img class="cafe" src="/images/img-tv-samsung-smart.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$23.200</li>
                    <li class="des">5% OFF</li>
                    <li class="des">SmartTv Samsung 43"</li>
                </ul>
            </article>
        </section>
        <section>
            <h4>
                <ul>
                    <li class="Titular">
                        Sección de Ofertas
                    </li>
                </ul>
            </h4>
            <article>
                <div>
                    <img class="cafe" src="/images/img-cafetera-moulinex.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$6.770</li>
                    <li class="des">40% OFF</li>
                    <li class="des">Cafetera Moulinex</li>
                </ul>
            </article>
            <article>
                <div>
                    <img class="cafe" src="/images/img-macbook-pro-2019.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$230.000</li>
                    <li class="des">20% OFF</li>
                    <li class="des">MacBook Pro 2019</li>
                </ul>
            </article>
            <article>
                <div>
                    <img class="cafe" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$70.500</li>
                    <li class="des">10% OFF</li>
                    <li class="des">Samsung Galaxy S10</li>
                </ul>
            </article>
            <article>
                <div>
                    <img class="cafe" src="/images/img-tv-samsung-smart.jpg" alt="">
                </div>
                <ul class="listasin">
                    <li class="precio">$23.200</li>
                    <li class="des">5% OFF</li>
                    <li class="des">SmartTv Samsung 43"</li>
                </ul>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <div class="icono">
                <i class="fas fa-credit-card"></i>
            </div>
            <h4 class="footerlist">
                Pagá con tarjeta o en efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es
                seguro!
            </p>
        </div>
        <div>
            <div class="icono">
                <i class="fas fa-gift"></i>
            </div>
            <h4 class="footerlist">
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de
                Mercado Puntos
            </p>
        </div>
        <div>
            <div class="icono">
                <i class="fas fa-user-shield"></i>
            </div>
            <h4 class="footerlist">
                Seguridad de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </div>
        <p class="copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
</body>

</html>