@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }
/* ---------------------------------HEADER--------------------------------- */
.header{
    background-color:#EAC926;
    padding-bottom: 20px;
}
.logo-search-compra{
    padding: 20px 10px;
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

}
.logo{
    margin-bottom: 20px;
    padding-right: 3%;
    height: auto;
    width: 40%;
}
.search{
    display: flex;
    width: 60%;
    color: #666;
    margin-bottom: 20px;
}
input{
    padding: 3px;
    border: none;
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;
}
.search button{
    margin-left: 2%;
    align-content:center;
    padding: 3px;
    border: none;
    border-start-end-radius: 3px;
    border-end-end-radius: 3px;
}
.compra{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
}
.listado1, .listado2{
    display: none;
}
.burger-menu{
font-size: 1.5rem;
background-color: var(--color--celeste);
color: #fff;
width: min-content;
padding: .25em .5em;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
}
/* ---------------------------------MAIN--------------------------------- */
.main{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
h4{
    margin: 0px;
}
.Titular{
    font-size: 24px;
    color: var(--color--gris-oscuro);
    font-family: 'Roboto','sans-serif';
    margin-top: 10px;
}
article{
    margin-bottom: 10px;
    background-color: #fff;
}
article:last-child{
    margin-bottom: 0px;
}
.article-img{
    width: 100%;
}
.listasin{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    border-top: 1px solid #ebebeb;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: -15px;
    color: #39b54a;
   }
.precio{
    font-size: 18px;
    margin-top: 0;
    width: 40%;
}
.des{
    font-size: 16px;
    color: var(--color-verde);
    width: 60%;
}
.des-1{
    font-size: 16px;
    color: var(--color--gris-oscuro);
    margin-top: 1rem;
    font-weight: 100;
}
/* ---------------------------------FOOTER--------------------------------- */
.footer{
    background-color: #fff;
    margin-bottom: 0cm;
}
.footerlist{
    font-weight: bold;
    text-align: center;
    color: var(--color--gris-oscuro);
}
.icono{
    color: #1259c3;
    text-align: center;
}
.icono i{
font-size:2em;
margin-bottom: 10px;
margin-top: 35px;
}
p{
    margin-bottom: 16px;
    text-align: center;
    font-size: 12px;
    margin-left: 35px;
    margin-right: 35px;
    color: var(--color--gris-oscuro);
}
.copyright{
    text-align: left;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0cm;
}    
@media (min-width:768px){
    .burger-menu{
        display: none;
    }
    .lista-2{
        display: flex;
        justify-content: space-between;
        margin: 4%;
    }
    .listado1, .listado2{
        display: initial;
        display: flex;
        justify-content:flex-start;
        width: 50%;
    }
    .listado2{
        justify-content: flex-end;
        }
    .listado1 li, .listado2 li{
        display: flex;
        margin: 5px 2%;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .logo{
        width: 40%;
    }
    .search{
        width: 25%;
    }
    .compra{
        width: 35%;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    main{
        width: 94vw;
    }
    h4{
        padding-left: 2%;
    }
    .list-art{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 5px;
    }
    article{
        width: 45%;
        margin: 15px;
    }
    article:last-child{
        margin-bottom: 15px;
    }
}
@media (min-width:1024px){
    article{
        width: 20%;
        justify-content: space-between;
    }
    .precio{
        width: 47%;
    }
    .des{
        width: 53%;
    }
    main section article i{
        right: 10px;
    }
}